
  body {
    font-family: 'Cairo', sans-serif;
  }
  .actives {
    background-color: #ae7cff;
    transform: scale(0.9);
  }
  #navbarContent ul li:hover {
    background-color: #ae7cff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
  }
  .btn-donate {
    background-color: #ae7cff;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
  }
  .btn-donate:hover {
    background-color: #8539ff;
    color: white;
  }
  .navbar-brand {
    font-weight: bold;
  }
  .nav-link:hover {
    color: #000000 ;
    
  }
  .dropdown-menu li:hover {
    background-color: #ae7cff !important;
  }
  .dropdown-menu li a:hover {
    background-color: #ae7cff !important;
  }
  /* From Uiverse.io by Madflows */ 
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
}
.button:hover::before {
  transform: scaleX(1);
}
.button-content {
  position: relative;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
@media (max-width: 768px) {
  .actives {
    margin-top: 10px;
    transform: scale(0.9);
  }
}